<DOCTYPE! HTML>
<html>
	<head>
		<title>Michelle Lim</title>
		<link rel="stylesheet" type="text/css" href="../stylesheet.css">
	</head>
	<body>
		<header class="main">
			<div class="primary">
				<h1>Michelle Lim</h1>
				<nav>
					<a href="../index.html">Home</a>
					<a href="javascript:;" class="selected">About</a>
					<a href="photography.html">Photography</a>
					<a href="quotes.html">Quotes</a>
					<a href="contact.html">Contact</a>
				</nav>
			</div>
			<h2 class="title">who.</h2>
		</header>
		<main class="about">
			<img src="../assets/me.jpg">
			<div class="blurb">
				<h1>Hi, I'm Michelle!</h1>
				<p>I was born and raised in Los Angeles. I've spent my entire life in LA, besides a short study abroad program in Sweden. I went to UCLA and graduated with a degree in Biology in 2013. I'm a die hard Bruin fan. Presently, I work at <a href="http://www.edlio.com" target="_blank">Edlio</a> as a Web Developer.</p>
				<p>When I'm not working or rooting on my favorite team, I enjoy traveling, exploring new places, eating with friends, or doing side projects. I'm always looking to grow and learn new things.</p>
			</div>
			<div class="skills">
				<h1>These are some things I'm good at...</h1>
				<nav>
					<div class="skill">
						HTML5
					</div>
					<div class="skill">
						CSS3
					</div>
					<div class="skill">
						SASS
					</div>
					<div class="skill">
						JS
					</div>
					<div class="skill">
						git
					</div>
				</nav>
			</div>
		</main>
	</body>
</html>
