<DOCTYPE! HTML>
<html>
	<head>
		<title>Michelle Lim</title>
		<link rel="stylesheet" type="text/css" href="../stylesheet.css">
	</head>
	<body>
		<header class="main">
			<div class="primary">
				<h1>Michelle Lim</h1>
				<nav>
					<a href="../index.html">Home</a>
					<a href="about.html">About</a>
					<a href="javascript:;" class="selected">Photography</a>
					<a href="contact.html">Contact</a>
				</nav>
			</div>
			<h2 class="title">snapshots.</h2>
		</header>
		<main class="photography">
			<figure>
				<img src="../assets/images/lund-leaves.jpg">
				<figcaption>
					<h1 class="location">Lund</h1>
					<div class="date">October 2011</div>
				</figcaption>
			</figure>
			<figure>
				<img src="../assets/images/prague-street.jpg">
				<figcaption>
					<h1 class="location">Prague</h1>
					<div class="date">December 2011</div>
				</figcaption>
			</figure>
			<figure>
				<img src="../assets/images/amsterdam.jpg">
				<figcaption>
					<h1 class="location">Amsterdam</h1>
					<div class="date">December 2011</div>
				</figcaption>
			</figure>
			<figure>
				<img src="../assets/images/zaanse-schans.jpg">
				<figcaption>
					<h1 class="location">Zaanse Schans</h1>
					<div class="date">December 2011</div>
				</figcaption>
			</figure>
		</main>
	</body>
</html>
