<DOCTYPE! HTML>
<html>
	<head>
		<title>Michelle Lim</title>
		<link rel="stylesheet" type="text/css" href="../stylesheet.css">
	</head>
	<body>
		<header class="main">
			<div class="primary">
				<h1>Michelle Lim</h1>
				<nav>
					<a href="../index.html">Home</a>
					<a href="about.html">About</a>
					<a href="photography.html">Photography</a>
					<a href="javascript:;" class="selected">Quotes</a>
					<a href="contact.html">Contact</a>
				</nav>
			</div>
			<h2 class="title">words.</h2>
		</header>
		<main class="quotes">
			<blockquote>"Life is too ironic to fully understand. It takes sadness to know what happiness is. Noise to appreciate silence & absence to value presence." <div class="author">Anonymous</div></blockquote>

			<blockquote>"Don't cry because it's over. Smile because it happened." <div class="author">Dr. Seuss</div></blockquote>

			<blockquote>"People will forget what you said, people will forget what you did, but people will never forget how you made them feel." <div class="author">Maya Angelou</div></blockquote>

			<blockquote>"D'oh!" <div class="author">Homer Simpson</div></blockquote>
		</main>
	</body>
</html>
